thead,
tfoot {
    background-color: #333;
    color: #fff;
}


/*table, td {
  border-style: solid;
}*/

p {
  color: rgb(0, 0, 0)
}

img {
  border-radius: 50%;
}

body {
  background: rgb(248,255,121);
  background: linear-gradient(90deg, rgba(248,255,121,1) 0%, rgba(255,191,72,1) 50%, rgba(89,249,102,1) 100%);
}
hr {
  border-style: dotted none none;
  border-width:5px;
  border-color: grey;
  width: 30%;
}
h1, h3, strong {
  color: #000000;
}
.div1{
  margin-left: 2%;
  margin-top: 5%;
}
.btn1{
  background-color:  chocolate;
  font-size: 20px;
  border-radius: 15%;
  margin-left: 2%;
  margin-bottom: 1%;

}
.btn1:hover{
  background-color: white;
}
.a1{
  color: black;
}

.div2{
  margin-left: 2%;

}

.div3{
  margin-top: 5%;
}